html {
  font-family: "Nunito", sans-serif;
}

#gantt_list {
  width: 100%;
  font-weight: bold;
}

#desc {
  width: 200px;
}

.daysoff {
  display: flex;
  flex-direction: row;
}

form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px;
}

form > * {
  margin: 5px;
}

#save_button {
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  border-color: #999999;
  border-radius: 5px;
}
